.button {
    background-color: #E8833A;
    width: 225px;
    height: 42px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px calc((100% - 225px) / 2) 36px;
    border-radius: 3px;
}