.info {
    margin: 24px 0px;
}

.info h1 {
    font-weight: 700;
    font-size: 24px;
    color: #293845;
    margin-bottom: 12px;
}

.info p {
    font-size: 22px;
    color: #293845;
    margin-bottom: 4px;
}