@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.day {
    font-family: roboto;
    font-size: 20px;
    color: #293845;
    margin: 0px 24px 22px;
}

.showtimes {
    margin: 0px 24px 22px;
    font-family: roboto;
    display: flex;
}

.showtime {
    width: 83px;
    height: 43px;
    border-radius: 3px;
    margin-right: 9px;
    background-color: #E8833A;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}