ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-family: roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available {
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
}

.unavailable {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.selected {
    background-color: #8DD7CF;
    border: 1px solid #45BDB0;
}

.dummy {
    flex-basis: 100%;
    height: 16px;
}