@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
    text-decoration: none;
}

body * {
    font-family: roboto;
}

body {
    padding: 67px 24px 114px;
}

.top-bar {
    height: 110px;
    font-size: 24px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
}