@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    height: 67px;
    background-color: #C3CFD9;
    font-family: roboto;
    font-size: 34px;
    color: #E8833A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar {
    height: 110px;
    font-family: roboto;
    font-size: 24px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
}